html{
    scroll-snap-type: y mandatory;
}
.app__logo{
    height: 12vh;
    
}

.app{
    display: grid;
    place-items: center;
    background-color: black;
    height: 100vh;
}



.app__top > h1{
    text-align: center;
    color: white;
}

.app__video{
    position: relative;
    height: 75vh;
    background-color: white;
    width: 50%;
    border-radius: 20px;
    max-width: 450px;
    max-height: 1200px;
    overflow: scroll;
    scroll-snap-type: y mandatory;

}

.app__video::-webkit-scrollbar{
    display: none;
}


.app__video {
    -ms-overflow-style: none;
    scrollbar-width: none;
}